
#banner {
        background-image: linear-gradient(to right, #cc2828, rgb(223, 223, 43), white, #281eaa);
        position: fixed;
        top: 0;
         left: 0;
         width: 100%;
         color: black; 
         text-align: center;
         padding: 4px 0;
        font-family: 'Tahoma', sans-serif;
         z-index: 1000;
  }
  head {font-family: 'Tahoma', sans-serif;}
body {font-family: 'Tahoma', sans-serif; margin: 10%; }

.dropbtn {
  background-color: #ff0000;
  color: white;
  padding: 8px;
  font-size: 8px;
  border: none;
  cursor: pointer;
}


.dropbtn:hover, .dropbtn:focus {
  background-color: #0004ff;
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #f1f1f1}


.dropdown:hover .dropdown-content {
  display: block;
}